.sidebar{
    width : 200px;
    position : fixed;
    top : 0;
    left : 0;
    padding : 30px 15px;
    z-index : 2;
    height : 100vh;
}
.sidebar__count-control{
    @extend %flex-box;
    @extend %flex-justify;
}
.sidebar__count-label{
    text-transform : uppercase;
    font-weight : 700;
    color : white;
}
.sidebar__count-btn{
    @extend %btn;
    border-radius : 50%;
}
.sidebar__bottom-range{
    position : absolute;
    left : 15px;
    right : 15px;
    bottom : 100px;
}
