.space{
    position : relative;
    overflow : hidden;
    height : 100vh;
    canvas{
        position : absolute;
        top : 0;
        left : 0;
    }
    .earth{
        position : absolute;
        top : 55%;
        left : 50%;
        @include transform-translate(-50%,-50%);
        &__img{
            width : 210px;
        }
    }
    .moon{
        @extend %orbit;
        width : 565px;
        height : 565px;
        top : 45%;
        left : 50%;
    }
    .satellite{
        @extend %orbit;
        width : 340px;
        height : 340px;
    }
    .ship{
        position : absolute;
        left : 50%;
        top : 26px;
        @include transform-translate(-50%,0);
    }
}
.space__control-game{
    position : absolute;
    bottom : 40px;
    z-index : 1;
    left : 0;
    width : 100%;
}
.space_btn-start{
    @extend %btn;
    color : white;
    text-transform : uppercase;
    background : #1aba4f;
    padding : 10px 35px;
    border-radius : 4px;
    font-weight : 700;
    margin : 0 auto;
    display : block;
}