.space{
    position : relative;
    overflow : hidden;
    height : 100vh;
    canvas{
        position : absolute;
        top : 0;
        left : 0;
        z-index : 1;
    }
    &__moon{
        @extend %orbit;
        width : 565px;
        height : 565px;
        top : 45%;
        left : 50%;
    }
    &__satellite{
        @extend %orbit;
        width : 340px;
        height : 340px;
    }
    &__control{
        position : absolute;
        bottom : 40px;
        z-index : 1;
        left : 0;
        width : 100%;
        &-btn{
            @extend %btn;
            color : white;
            text-transform : uppercase;
            background : #1aba4f;
            padding : 10px 35px;
            border-radius : 4px;
            font-weight : 700;
            margin : 0 auto;
            display : block;
        }
    }
}

.link{
    position : absolute;
    bottom : 10px;
    right : 20px;
    text-decoration : none;
    color : beige;
    cursor : pointer;
    z-index : 10;
    transition : all 0.3s linear;

    &:hover{
        transform : scale(1.05);
    }
}