%orbit{
    border-radius : 50%;
    border : 1px dashed #592e99;
    position : absolute;
    @include transform-translate(-50%,-50%);
}
%flex-box{
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
}
%flex-justify{
    -webkit-box-pack : justify;
    -ms-flex-pack : justify;
    justify-content : space-between;
}
%btn{
    @include transitions(all, 0.3s, ease-in-out);
    background : transparent;
    border : none;
    outline : none;
    cursor : pointer;
    padding : 0;
    display : inline-block;
    &:hover{
        opacity : 0.8;
    }
    &:active{
        opacity : 0.6;
    }
    &:disabled{
        opacity : 0.6;
    }
}