@import "./mixins";
@import "./extend";
@import "./components/sidebar";
@import "./components/slider";
@import "./components/space";

body{
    margin : 0;
    font-family : Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing : grayscale;
    color : white;
}
#app {
    background : #2b1146;
    height : 100vh;
}
